<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="snappTranslationApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="snappTranslationApp.invoice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="snappTranslationApp.invoice.home.createLabel"> Create a new Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span jhiTranslate="snappTranslationApp.invoice.home.notFound">No invoices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="customerPrice">
            <span jhiTranslate="snappTranslationApp.invoice.customerPrice">Customer Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalPrice">
            <span jhiTranslate="snappTranslationApp.invoice.totalPrice">Total Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="taxPrice">
            <span jhiTranslate="snappTranslationApp.invoice.taxPrice">Tax Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="invoiceStatus">
            <span jhiTranslate="snappTranslationApp.invoice.invoiceStatus">Invoice Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="handOver.id">
            <span jhiTranslate="snappTranslationApp.invoice.handOver">Hand Over</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="delivery.id">
            <span jhiTranslate="snappTranslationApp.invoice.delivery">Delivery</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
          </td>
          <td>{{ invoice.customerPrice }}</td>
          <td>{{ invoice.totalPrice }}</td>
          <td>{{ invoice.taxPrice }}</td>
          <td jhiTranslate="{{ 'snappTranslationApp.InvoiceStatus.' + invoice.invoiceStatus }}">{{ invoice.invoiceStatus }}</td>
          <td>
            <div *ngIf="invoice.handOver">
              <a [routerLink]="['/delivery', invoice.handOver?.id, 'view']">{{ invoice.handOver?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="invoice.delivery">
              <a [routerLink]="['/delivery', invoice.delivery?.id, 'view']">{{ invoice.delivery?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="invoices && invoices.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
