<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-translation-company-heading"
        data-cy="TranslationCompanyCreateUpdateHeading"
        jhiTranslate="snappTranslationApp.translationCompany.home.createOrEditLabel"
      >
        Create or edit a Translation Company
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="snappTranslationApp.translationCompany.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="snappTranslationApp.translationCompany.phoneNumber" for="field_phoneNumber"
            >Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="snappTranslationApp.translationCompany.secondPhoneNumber"
            for="field_secondPhoneNumber"
            >Second Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="secondPhoneNumber"
            id="field_secondPhoneNumber"
            data-cy="secondPhoneNumber"
            formControlName="secondPhoneNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="snappTranslationApp.translationCompany.location" for="field_location"
            >Location</label
          >
          <select class="form-control" id="field_location" data-cy="location" name="location" formControlName="location">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption"
              *ngFor="let locationOption of locationsCollection; trackBy: trackLocationById"
            >
              {{ locationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
