<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="snappTranslationApp.order.detail.title">Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.order.handOverType">Hand Over Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'snappTranslationApp.DeliveryType.' + order.handOverType }}">{{ order.handOverType }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.order.deliveryType">Delivery Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'snappTranslationApp.DeliveryType.' + order.deliveryType }}">{{ order.deliveryType }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.order.delivery">Delivery</span></dt>
        <dd>
          <div *ngIf="order.delivery">
            <a [routerLink]="['/delivery', order.delivery?.id, 'view']">{{ order.delivery?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.order.handOver">Hand Over</span></dt>
        <dd>
          <div *ngIf="order.handOver">
            <a [routerLink]="['/delivery', order.handOver?.id, 'view']">{{ order.handOver?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.order.translationCompany">Translation Company</span></dt>
        <dd>
          <div *ngIf="order.translationCompany">
            <a [routerLink]="['/translation-company', order.translationCompany?.id, 'view']">{{ order.translationCompany?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.order.deliveryTimeSlot">Delivery Time Slot</span></dt>
        <dd>
          <div *ngIf="order.deliveryTimeSlot">
            <a [routerLink]="['/delivery-time-slot', order.deliveryTimeSlot?.id, 'view']">{{ order.deliveryTimeSlot?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
