<div>
  <h2 id="page-heading" data-cy="TranslationCompanyHeading">
    <span jhiTranslate="snappTranslationApp.translationCompany.home.title">Translation Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="snappTranslationApp.translationCompany.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-translation-company"
        [routerLink]="['/translation-company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="snappTranslationApp.translationCompany.home.createLabel"> Create a new Translation Company </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="translationCompanies?.length === 0">
    <span jhiTranslate="snappTranslationApp.translationCompany.home.notFound">No translationCompanies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="translationCompanies && translationCompanies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="snappTranslationApp.translationCompany.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="snappTranslationApp.translationCompany.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="secondPhoneNumber">
            <span jhiTranslate="snappTranslationApp.translationCompany.secondPhoneNumber">Second Phone Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="location.id">
            <span jhiTranslate="snappTranslationApp.translationCompany.location">Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let translationCompany of translationCompanies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/translation-company', translationCompany.id, 'view']">{{ translationCompany.id }}</a>
          </td>
          <td>{{ translationCompany.name }}</td>
          <td>{{ translationCompany.phoneNumber }}</td>
          <td>{{ translationCompany.secondPhoneNumber }}</td>
          <td>
            <div *ngIf="translationCompany.location">
              <a [routerLink]="['/location', translationCompany.location?.id, 'view']">{{ translationCompany.location?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/translation-company', translationCompany.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/translation-company', translationCompany.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(translationCompany)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="translationCompanies && translationCompanies.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
