<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="translationCompany">
      <h2 data-cy="translationCompanyDetailsHeading">
        <span jhiTranslate="snappTranslationApp.translationCompany.detail.title">Translation Company</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ translationCompany.id }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.translationCompany.name">Name</span></dt>
        <dd>
          <span>{{ translationCompany.name }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.translationCompany.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ translationCompany.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.translationCompany.secondPhoneNumber">Second Phone Number</span></dt>
        <dd>
          <span>{{ translationCompany.secondPhoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="snappTranslationApp.translationCompany.location">Location</span></dt>
        <dd>
          <div *ngIf="translationCompany.location">
            <a [routerLink]="['/location', translationCompany.location?.id, 'view']">{{ translationCompany.location?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/translation-company', translationCompany.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
